 .register-form {
            width: 300px;
            height: 300px;
            background-color: bisque;
            /* margin: 5px 510px; */
            margin: 0 auto;
           padding: 10px 0px 0px 10px;
        }

.products {
    margin: 0px 20px;
}

.product-container {
    display: flex;
     justify-content: space-evenly;
     /* space-evenly; it gives the even space to the all the child items */
      /* space-around;   it gives the equal space on both left and right sides */     
      /* space-between;  it gives the inside space for the child items */

    /* align-items: center; */
}